<h3>{{ title }}</h3>
<input
  type="search"
  placeholder="Type name"
  [formControl]="nameInput"
  (keydown.enter)="handleEnter()"
/>
<table>
  <thead class="table-header">
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <cdk-virtual-scroll-viewport [itemSize]="70" class="table-viewport">
      <tr *cdkVirtualFor="let community of data">
        <td>{{ community.name }}</td>
        <td>
          <b
            >{{ community.members }}
            <sup>{{ community.members | calculateMembers }}</sup></b
          >
        </td>
        <td>{{ community.created_at | dateFormat }}</td>
        <td>
          <button (click)="onRemove(community)">Remove</button>
        </td>
      </tr>
  </cdk-virtual-scroll-viewport>
  </tbody>
</table>
