<h3>{{ title }}</h3>
<input
  type="search"
  placeholder="Type name"
  [formControl]="nameInput"
  (keydown.enter)="handleEnter()"
/>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let community of data">
      <td>{{ community.name }}</td>
      <td>
        <b
          >{{ community.members }}
          <sup>{{ community.members | calculateMembers }}</sup></b
        >
      </td>
      <td>{{ community.created_at | dateFormat }}</td>
      <td>
        <button (click)="onRemove(community)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
